<?xml version="1.0"?>

<config>
    <modules>
        <Converdo_Magento>
            <version>2.0.0.0</version>
        </Converdo_Magento>
    </modules>
    <global>
        <models>
            <analytics>
                <class>Converdo_Magento_Model</class>
            </analytics>
        </models>
        <blocks>
            <analytics>
                <class>Converdo_Magento_Block</class>
            </analytics>
        </blocks>
        <helpers>
            <analytics>
                <class>Converdo_Magento_Helpers</class>
            </analytics>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Converdo_Magento>
                    <files>
                        <default>Converdo_ConversionMonitor.csv</default>
                    </files>
                </Converdo_Magento>
            </modules>
        </translate>
        <events>
            <sales_order_place_after>
                <observers>
                    <analytics_order_placed>
                        <type>model</type>
                        <class>analytics/observer</class>
                        <method>onOrderPlacedEvent</method>
                    </analytics_order_placed>
                </observers>
            </sales_order_place_after>
            <sales_order_save_after>
                <observers>
                    <analytics_order_saved>
                        <type>model</type>
                        <class>analytics/observer</class>
                        <method>onOrderStatusChangedEvent</method>
                    </analytics_order_saved>
                </observers>
            </sales_order_save_after>
        </events>
        <layout>
            <updates>
                <analytics>
                    <file>conversionmonitor.xml</file>
                </analytics>
            </updates>
        </layout>
        <routers>
            <Converdo_Magento>
                <use>standard</use>
                <args>
                    <module>Converdo_Magento</module>
                    <frontName>conversionmonitor</frontName>
                </args>
            </Converdo_Magento>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Converdo_Magento>
                    <files>
                        <default>Converdo_ConversionMonitor.csv</default>
                    </files>
                </Converdo_Magento>
            </modules>
        </translate>
        <events>
            <sales_order_save_after>
                <observers>
                    <analytics_order_saved>
                        <type>model</type>
                        <class>analytics/observer</class>
                        <method>onOrderStatusChangedEvent</method>
                    </analytics_order_saved>
                </observers>
            </sales_order_save_after>
        </events>
        <layout>
            <updates>
                <namespace_module>
                    <file>conversionmonitor.xml</file>
                </namespace_module>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <Converdo_Magento>
                <use>admin</use>
                <args>
                    <module>Converdo_Magento</module>
                    <frontName>analytics</frontName>
                </args>
            </Converdo_Magento>
        </routers>
    </admin>
    <default>
        <converdo>
            <advanced>
                <checkoutpath>/checkout/onepage</checkoutpath>
            </advanced>
        </converdo>
    </default>
</config>
